*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: Overpass, sans-serif;
}

body {
	font-size: 1.5rem;
}

.icon,
.content,
.scale,
.rating {
	margin-bottom: 20px;
}

.rating-window,
.thank-you-window {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	min-height: 380px;
	border-radius: 20px;
	padding: 30px;
	background:
		radial-gradient(ellipse at top,
			rgb(37, 45, 55),
			rgb(22, 28, 33) 70%);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 30px 20px;
	background-color: rgb(18, 20, 23);
}

/* rating window */
.icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgb(37, 45, 55);
}

.icon::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background: url('./images/icon-star.svg') no-repeat;
	background-size: cover;
	position: relative;
	top: 32%;
	left: 30%;
}

.icon:hover {
	cursor: pointer;
	background-color: rgb(149, 158, 172);
}

.title {
	margin-bottom: 10px;
	color: white;
	font-size: 2.7rem;
	font-weight: 400;
}

.text {
	line-height: 2.3rem;
	color: rgb(124, 135, 152);
}

.scale {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.input {
	display: none;
}

.label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgb(37, 45, 55);
	color: rgb(124, 135, 152);
	transition: all 0.5s ease;
}

.input:checked~.label {
	background-color: rgb(149, 158, 172);
}

.input:checked+.label {
	background-color: rgb(251, 116, 19);
	color: white;
}

.input:not(:checked)~.label:hover {
	cursor: pointer;
	background-color: rgb(251, 116, 19);
	color: white;
}

.input:not(:checked)~.label:hover~.label:nth-child(5n-1) {
	background-color: rgb(149, 158, 172);
	color: white;
}

.button {
	text-transform: uppercase;
	padding: 15px 0;
	border-radius: 25px;
	letter-spacing: 2px;
	border: none;
	background-color: rgb(251, 116, 19);
	color: white;
	transition: background-color 0.5s, color 1s;
}

.button:hover {
	cursor: pointer;
	background-color: white;
	color: rgb(251, 116, 19);
}

/* thank you window */
.thank-you-window {
	display: none;
	align-items: center;
	padding: 40px 30px;
}

.thank-you-window__image {
	height: 120px;
	width: 170px;
	background: url('./images/illustration-thank-you.svg') no-repeat;
	background-size: 100% 100%;
	margin: 10px 0 25px 0;
}

.rating {
	padding: 5px 20px;
	border-radius: 10px;
	background-color: rgb(37, 45, 55);
	color: rgba(251, 116, 19);
	margin-bottom: 30px;
}

.thank-you-window__text {
	text-align: center;
}


/* mobile */
@media (max-width: 480px) {

	.rating-window,
	.thank-you-window {
		min-height: auto;
	}

	.icon {
		margin-bottom: 15px;
	}

	.icon::before {
		width: 13px;
		height: 13px;
		top: 35%;
		left: 34%;
	}

	.scale,
	.body {
		margin-bottom: 25px;
	}

	.icon,
	.label {
		width: 45px;
		height: 45px;
	}

	.rating-window {
		padding: 25px;
		font-size: 1.4rem;
	}

	.rating-window__button {
		font-size: 1.6rem;
		letter-spacing: .3rem;
		margin-bottom: 10px;
	}

	.thank-you-window {
		font-size: 1.4rem;
	}
}

@media (max-width: 330px) {
	.thank-you-window {
		padding: 25px;
	}

	.icon,
	.label {
		width: 35px;
		height: 35px;
	}

	.icon::before {
		top: 33%;
		left: 31%;
	}
}